@tailwind base;
@tailwind components;
@tailwind utilities;

.wave-t {
  animation: wave-t-anim 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.wave-b {
  animation: wave-b-anim 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes wave-t-anim {
  0% {
    d: path(
      'M 0,400 L 0,175 C 185.86666666666667,170.46666666666667 371.73333333333335,165.93333333333334 537,170 C 702.2666666666667,174.06666666666666 846.9333333333334,186.73333333333332 994,189 C 1141.0666666666666,191.26666666666668 1290.5333333333333,183.13333333333333 1440,175 L 1440,400 L 0,400 Z'
    );
  }
  25% {
    d: path(
      'M 0,400 L 0,175 C 194.93333333333334,168.60000000000002 389.8666666666667,162.20000000000002 540,171 C 690.1333333333333,179.79999999999998 795.4666666666667,203.8 938,207 C 1080.5333333333333,210.2 1260.2666666666667,192.6 1440,175 L 1440,400 L 0,400 Z'
    );
  }
  50% {
    d: path(
      'M 0,400 L 0,175 C 168.13333333333333,190.86666666666667 336.26666666666665,206.73333333333332 506,207 C 675.7333333333333,207.26666666666668 847.0666666666666,191.93333333333334 1003,184 C 1158.9333333333334,176.06666666666666 1299.4666666666667,175.53333333333333 1440,175 L 1440,400 L 0,400 Z'
    );
  }
  75% {
    d: path(
      'M 0,400 L 0,175 C 157.86666666666667,191.8 315.73333333333335,208.6 458,206 C 600.2666666666667,203.4 726.9333333333334,181.4 888,173 C 1049.0666666666666,164.6 1244.5333333333333,169.8 1440,175 L 1440,400 L 0,400 Z'
    );
  }
  100% {
    d: path(
      'M 0,400 L 0,175 C 185.86666666666667,170.46666666666667 371.73333333333335,165.93333333333334 537,170 C 702.2666666666667,174.06666666666666 846.9333333333334,186.73333333333332 994,189 C 1141.0666666666666,191.26666666666668 1290.5333333333333,183.13333333333333 1440,175 L 1440,400 L 0,400 Z'
    );
  }
}

@keyframes wave-b-anim {
  0% {
    d: path(
      'M 0,400 L 0,275 C 108.80000000000001,278.4666666666667 217.60000000000002,281.93333333333334 401,280 C 584.4,278.06666666666666 842.3999999999999,270.7333333333333 1028,269 C 1213.6000000000001,267.2666666666667 1326.8000000000002,271.1333333333333 1440,275 L 1440,400 L 0,400 Z'
    );
  }
  25% {
    d: path(
      'M 0,400 L 0,275 C 171.86666666666667,295.4 343.73333333333335,315.8 485,309 C 626.2666666666667,302.2 736.9333333333334,268.20000000000005 891,258 C 1045.0666666666666,247.79999999999998 1242.5333333333333,261.4 1440,275 L 1440,400 L 0,400 Z'
    );
  }
  50% {
    d: path(
      'M 0,400 L 0,275 C 156.93333333333334,291.4 313.8666666666667,307.8 492,308 C 670.1333333333333,308.2 869.4666666666667,292.2 1031,284 C 1192.5333333333333,275.8 1316.2666666666667,275.4 1440,275 L 1440,400 L 0,400 Z'
    );
  }
  75% {
    d: path(
      'M 0,400 L 0,275 C 162.2666666666667,261.93333333333334 324.5333333333334,248.86666666666667 496,256 C 667.4666666666666,263.1333333333333 848.1333333333334,290.4666666666667 1007,297 C 1165.8666666666666,303.5333333333333 1302.9333333333334,289.26666666666665 1440,275 L 1440,400 L 0,400 Z'
    );
  }
  100% {
    d: path(
      'M 0,400 L 0,275 C 108.80000000000001,278.4666666666667 217.60000000000002,281.93333333333334 401,280 C 584.4,278.06666666666666 842.3999999999999,270.7333333333333 1028,269 C 1213.6000000000001,267.2666666666667 1326.8000000000002,271.1333333333333 1440,275 L 1440,400 L 0,400 Z'
    );
  }
}
